*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}


header.superior1{
    width: initial;
    height: auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cfd9e0;
}
header.superior1 > .logo > img{
    width: 196px;
    cursor: pointer;
}
header.superior1 > .logo{
    margin: 7px 15px;
}
header.superior1 > .search1{
    width: 82%;
    background-color: #e2e8ec;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #cfd9e0;
}
header > .search1 > select{
    border: none;
    background-color: transparent;
    margin-left: 15px;
    border-right: 1px solid #cfd9e0;
    cursor: pointer;
}
header > .search1 > i{
    margin-left: 20px;
    cursor: pointer;
}
header > .search1{
    display: flex;
    align-items: center;
}
header.superior1 input[type="text"]{
    background-color: transparent;
    border: none;
    width: 743px;
    color: #a2a9ad;
    transition: 0.2s;
    padding: 15px;
    height: 100%;
    outline: none;
}
header.superior1 input[type="text"]:focus{
    color: #333333;
}
form > input[type="reset"]{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #bac8d3;
    border-radius: 8px;
    color: #FFFFFF;
    transition: 0.3s;
    margin-right: 10px;
    cursor: pointer;
}
form > input[type="reset"]:hover{
    background-color: #a2a9ad;
}
.fform i[class*="search"]{
    margin-right: 10px;
    cursor: pointer;
}
.fform i[class*="image"]{
    border-left: 1px solid #cfd9e0;
    padding: 15px;
    cursor: pointer;
}
.fform{
    display: flex;
    align-items: center;
}
.fform p{
    font-size: 13px;
    margin-left: 10px;
    cursor: pointer;
}
.sub1{
    width: initial;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cfd9e0;
    cursor: pointer;
}
.sub1 i{
    margin: 20px;
}
.subdosub{
    width: auto;
    padding: 4px;
    border-right: 1px solid #cfd9e0;
}
.list i{
    text-align: center;
    border: 1px solid #cfd9e0;
    padding: 6px;
    font-size: 13px;
    border-radius: 10px;
    color: #374957;
}
.sl{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80px;
}
.sl div{
    margin: 22px;
    cursor: pointer;
}
.sl div i[class*="s"]{
    margin-right: 44px;
    color: #1d262d;
    border-bottom: 3px solid #1d262d;
}
.sl div i[class*="s"] span{
    color: #bac8d3;
}
.sl div i[class*="archi"]{
    color: #7e96a9;
}
.img-caleria{
    display: inline-block;
    flex-wrap: wrap;
}
.img-caleria img{
    width: 433px;
    margin: 10px;
}
footer{
    border: 1px solid #a2a9ad;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}